@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.chat-container {
    display: flex;
    height: 100vh;
}

.column-3 {
    width: 33.33%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.column-3 .user {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #007bff;
}

.column-3 h1 {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    color: #007bff;
    display: flex;
    flex-direction: column;
}

.column-3 .logout-button {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-3 .logout-button .logout-text {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin: 20px;
    font-size: large;
}

.column-3 .logout-button .btn {
    border-radius: 25px;
    border: 1px solid #007bff;
    min-width: 20vh;
    font-size: large;
    border: none;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 70px;
    height: 56px;
    margin-bottom: 30px;
}

.column-4 {
    width: 66.66%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.messages {
    flex-grow: 1;
    background-color: white;
    width: 100%;
}

.messages .text {
    padding: 10px;
    height: 95%;
    width: 95%;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 2;
    left: 0;
    right: 0;
}

.messages .text .text-details {
    text-align: left;
    display: inline-block;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1.2rem;
    font-size: 1rem;
}

.messages .no-selected {
    font-family: "Poppins";
    font-weight: bold;
    color: gray;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.chat-container .column-4 .message-input {
    width: 95%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-container .column-4 input[type="text"] {
    padding: 10px;
    border: none;
    border: 1px solid #f2f2f2;
    height: 35px;
    width: 30rem;
    background-color: #f2f2f2;
    text-align: center;
    margin-bottom: 30px;
}


.chat-container .column-3 .user {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}

.chat-container .column-3 .user span {
    font-family: "Poppins";
    font-weight: bold;
    letter-spacing: 1.5px;
}
.column-4 .message-input form{
    display: flex;
}

.column-4 .message-input .btn-submit {
    border: none;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 70px;
    height: 56px;
    margin-bottom: 30px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #007bff;
}

.column-4 .message-input .btn-attechment {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 50px;
    height: 36px;
    border: 1px solid #007bff;
    margin-bottom: 30px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.hidden {
    display: none;
}